name: Linter
on:
  push:
    branches-ignore:
      - main

permissions:
  contents: read

jobs:
  golangci:
    name: Linting Go code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8               # v6.0.1
      - name: golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601  # v9.1.0
        with:
          version: latest
